.blog-activity__wrapper {
  width: auto;
  padding: ritmo(10) 20px ritmo(10) 20px;
  background: palette(white);
  text-align: center;

  @include mq($from: break-medium) {
    padding-top: ritmo(18);
  }
}

.blog-activity {
  text-align: left;
  @include container(650px);
}

.blog-activity__list-item {
  margin-bottom: ritmo(8);

  &:first-child {
    border-bottom: 1px solid palette(grey);
    margin-bottom: ritmo(4);
  }
}

.blog-activity__post {
  color: palette(black);
}

.blog-activity__post-date {
  @include ritmo-font-size(ritmo(2))
}

.blog-activity__post-title {
  @include ritmo-font-size(ritmo(3))
  color: palette(grey, mid-dark);
  font-weight: 300;
  text-transform: uppercase;

  @include mq($from: break-medium) {
    @include ritmo-font-size(ritmo(4))
  }
}

.blog-activity__post-description {

  @include mq($until: break-medium) {
    @include ritmo-font-size(14px)
  }
}

.blog-activity__button-more {
  color: palette(white);
  text-transform: uppercase;
  padding: ritmo(2) 18px;
  background: palette(grey, mid-dark);
  transition: background 0.3s ease;
  border-radius: 24px;

  &:hover {
    background: palette(black);
  }
}
