.profile-cards {
  background: palette(white);
  text-align: center;
  overflow: hidden;
}

.profile-cards__content {
  @include container(1240px);
  min-height: 450px;
}

.profile-cards__content-item {
  display: block;
  color: black;
  background: palette(grey);

  @include mq($until: break-medium) {
    @include span(full);
  }

  @include mq($from: break-medium) {
    @include span(1.5);
  }
}
