.page-404-section

  .page-404-section__content
    h1 Oh! The 404 Page!
    h4 Sorry, there isn't much here except for the cat and the button, click it to help the cat and get on your way.

    .page-404-section__content__button
      a.page-404-section__content__button-link(href="/") Save the cat!

    .page-404-section__content__image
      img(src="/images/content/404.jpg")
