footer.footer

  ul.footer__menu

    li.footer__menu-item(class="#{ current.path[0] == 'mission' ? 'is-active' : '' }")
      a(href='/mission') Mission

    li.footer__menu-item(class="#{ current.path[0] == 'participate' ? 'is-active' : '' }")
      a(href='/participate') Participate

  ul.footer__social-icons

    li.footer__social-icons__item
      a(href='#' target="_blank")
        svg
          use(href='#facebook-icon')

    li.footer__social-icons__item
      a(href='#' target="_blank")
        svg
          use(href='#twitter-icon')

  .footer__copyright

    a.footer__copyright-logo(href='/')
      svg
        use(href='#logo-minified')

    p &copy; #{new Date().getFullYear()} Portuguese Women in Tech



