header

  .navigation

    .navigation__mobile-menu__toggle

      span.navigation__mobile-menu__icon

    .navigation-logo
      include ./_svg-elements

      a(href='/').navigation-logo__svg

        svg.navigation-logo__svg-main
          use(href='#logo-main')

        svg.navigation-logo__svg-minified
          use(href='#logo-minified')

    ul.navigation__menu

      li.navigation__menu-item(class="#{ current.path[0] == 'mission' ? 'is-active' : '' }")
        a(href='/') Mission

      li.navigation__menu-item(class="#{ current.path[0] == 'about' ? 'is-active' : '' }")
        a(href='/blog') About
