.intro-section

  h6.intro-section__title  A portrait of the women that help make the difference in the industry

  .intro-section__tags-container

    input#intro-section__tags.intro-section__tags(name='tags-homepage', type='checkbox')

    label(for='intro-section__tags') Explore

    .intro-section__tags-content
      .intro-section__tags-content__links-wrapper
        a.intro-section__tags-content__links(href="#") A tag
        a.intro-section__tags-content__links(href="#") Another tag
        a.intro-section__tags-content__links(href="#") One more
        a.intro-section__tags-content__links(href="#") And another
        a.intro-section__tags-content__links(href="#") Again, a tag
        a.intro-section__tags-content__links(href="#") Another tag bites the dust
        a.intro-section__tags-content__links(href="#") Once more
        a.intro-section__tags-content__links(href="#") And another
        a.intro-section__tags-content__links(href="#") Yeah! A tag
        a.intro-section__tags-content__links(href="#") The return of the Tag
        a.intro-section__tags-content__links(href="#") The mighty tag
        a.intro-section__tags-content__links(href="#") Have you seen a tag?
        a.intro-section__tags-content__links(href="#") Me? Just a tag
        a.intro-section__tags-content__links(href="#") Tagging along
        a.intro-section__tags-content__links(href="#") Tagger, the tag
        a.intro-section__tags-content__links(href="#") The Taggster
