.mission-section

  .mission-section__content

    h6.mission-content__title A portrait of the women that help make the difference in the industry

    //- img.mission-content__img(src="images/content/mission-photo.jpg")

    p The Portuguese entrepreneurial ecosystem is live and kicking with lots of startups that are going global, international investments, amazing events and fantastic tech people that are working hard and non-stop to grow their startups and scale from Portugal to the World.

    p Zooming in, this platform comes to life as a way of presenting the women that are improving the tech community with great startups and looking to show the outside world a more comprehensive picture of the Portuguese Women who work in tech.

    p <strong> Boost this positive change. </strong>

    a.mission-section__content__link-participate(href="participate") Want to be part of this community?
