.participate-section

  .participate-section__content

    h6.participate-content__title Be an active part in the community of women that help make the difference in the industry

    //- img.participate-content__img(src="images/content/participate-photo.jpg")

    p Please fill the form below to be a part of this community

    form.participate-section__form(action='#')

      .participate-section__form__field
        label Name:
        input(type='text', name='name')

      .participate-section__form__field
        label Current Role:
        input(type='text', name='role')

      .participate-section__form__field
        label Place of origin:
        input(type='text', name='origin')

      .participate-section__form__field
        label Your links:
        textarea(type='textarea', name='links')

      .participate-section__form__field
        label Early years and where you came from:
        textarea(type='textarea', name='question1')

      .participate-section__form__field
        label How were you introduced to the world of tech:
        textarea(type='textarea', name='question2')

      .participate-section__form__field
        label Walk me through your work and what you are doing now:
        textarea(type='textarea', name='question3')

      .participate-section__form__field
        label What part of what you do, you love the most:
        textarea(type='textarea', name='question4')

      .participate-section__form__field
        label How do you think that your background and knowledge impact the way you approach your work:
        textarea(type='textarea', name='question5')

      .participate-section__form__field
        label What advice do you have for young women that want to get into tech and don’t know where to start:
        textarea(type='textarea', name='question6')

      .participate-section__form__field
        label Walk me through a day in your life:
        textarea(type='textarea', name='question7')

      .participate-section__form__field
        label What's the best advice you've ever received:
        textarea(type='textarea', name='question8')

      .participate-section__form__field
        label What apps/software/tools can't you live without:
        textarea(type='textarea', name='question9')

      .participate-section__form__field
        label Links that you want to share:
        textarea(type='textarea', name='question10')

      .participate-section__form__submit
        input(type='submit', value='Participate')
