.participate-section

  .participate-section__content

    h6.participate-content__title Be an active part in the community of women that help make the difference in the industry

    img.participate-content__img(src="images/content/participate-photo.jpg")

    p Please fill the form below to be a part of this community

    form.participate-section__form(action='#')

      .participate-section__form__field
        label First name:
        input(type='text', name='firstname')

      .participate-section__form__field
        label Email:
        input(type='text', name='email')

      .participate-section__form__field
        label Some other field:
        textarea(type='text', name='firstname')

      .participate-section__form__submit
        input(type='submit', value='Participate')
