//- Add target="_blank" for external links on profile content.
//- Enhances all occurences of external <a> by adding a target attribute.
//-
//- Uses the yield variable

- var profileLinks = yield.match(/(?:{.+?})?<a(.+?)>/gi) || '';

each profileTargetedLink, profileLinkIndex in profileLinks
  - var profileLinkHref = profileTargetedLink.match(/(?:href=["'])(.+?)(?:["'])/)[1];
  //- Cover both relative paths and absolute paths on production
  if profileLinkHref.lastIndexOf('http', 0) === 0 && profileLinkHref.lastIndexOf(production_url) !== 0
    - profileTargetedLink = profileTargetedLink.replace(/(\s)?>/, ' target="_blank">');
    - yield = yield.replace(profileLinks[profileLinkIndex], profileTargetedLink);
