<form action="#" class="participate-section__form">
  <div class="participate-section__form__field">
    <label>Name:</label>
    <input type="text" name="name"/>
  </div>
  <div class="participate-section__form__field">
    <label>Current Role:</label>
    <input type="text" name="role"/>
  </div>
  <div class="participate-section__form__field">
    <label>Place of origin:</label>
    <input type="text" name="origin"/>
  </div>
  <div class="participate-section__form__field">
    <label>Your links:</label>
    <textarea type="textarea" name="links"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>Early years and where you came from:</label>
    <textarea type="textarea" name="question1"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>How were you introduced to the world of tech:</label>
    <textarea type="textarea" name="question2"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>Walk me through your work and what you are doing now:</label>
    <textarea type="textarea" name="question3"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>What part of what you do, you love the most:</label>
    <textarea type="textarea" name="question4"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>How do you think that your background and knowledge impact the way you approach your work:</label>
    <textarea type="textarea" name="question5"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>What advice do you have for young women that want to get into tech and don’t know where to start:</label>
    <textarea type="textarea" name="question6"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>Walk me through a day in your life:</label>
    <textarea type="textarea" name="question7"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>What's the best advice you've ever received:</label>
    <textarea type="textarea" name="question8"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>What apps/software/tools can't you live without:</label>
    <textarea type="textarea" name="question9"></textarea>
  </div>
  <div class="participate-section__form__field">
    <label>Links that you want to share:</label>
    <textarea type="textarea" name="question10"></textarea>
  </div>
  <div class="participate-section__form__submit">
    <input type="submit" value="Participate"/>
  </div>
</form>