.footer {
  padding: ritmo(3) 20px ritmo(2) 20px;
  text-align: center;
  background: palette(black);
  color: palette(white);

  a {
    font-weight: 300;
    color: palette(white);
    transition: background ease 0.5s;
    padding: ritmo() 10px;

    &:hover {
      background: palette(grey, mid-dark);
    }
  }
}

.footer__menu {
  padding: 0;
  display: block;
  text-align: center;
  }

.footer__menu-item {
  display: inline-block;
  margin: 0 0.65em;
  text-transform: uppercase;
}

.footer__social-icons {
  border-top: 1px solid palette(grey, mid-dark);
  border-bottom: 1px solid palette(grey, mid-dark);
  display: block;
  margin: ritmo(5) auto;
  padding: ritmo(5) 0;
  @include container(250px);

  svg {
    width: 35px;
    height: 35px;
    fill: palette(white);
    vertical-align: top;
    transition: fill ease 0.5s;

    &:hover {
      fill: palette(grey);
    }
  }
}

.footer__social-icons__item {
  display: inline-block;
  padding: 0;

  a:hover {
    background: transparent;
  }
}

.footer__copyright {
  text-align: center;

  p {
    text-transform: uppercase;
    font-weight: 300;
    @include ritmo-font-size(12px);

    @include mq($from: break-medium-small) {
      @include ritmo-font-size(14px);
    }
  }
}

.footer__copyright-logo {
  display: block;
  margin: 0 auto;


  svg {
    fill: palette(white);
    width: 50px;
    height: 29px;
  }
}
