// Navigation styles
.navigation {
  width: 100%;
  position: relative;
  max-height: ritmo(10);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: rgba(palette(white), .95);

  @include mq($until: break-medium) {
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0;
  }

  @include mq($from: break-medium) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    max-height: ritmo(32);
    padding-bottom: ritmo(32);
  }

  a {
    @include ritmo-font-size(ritmo(3));
    color: palette(black);
    padding: ritmo(4) 0;
    display: block;

    @include mq($from: break-medium) {
      padding: ritmo() 16px;
      transition: background 0.3s ease;
      border-radius: 20px;
      @include ritmo-font-size(12px);
    }

    &:hover {
      background: palette(black);
      color: palette(white);

      @include mq($from: break-medium) {
        background: palette(black);
      }
    }
  }

  .is-active a {
    font-weight: 700;
    color: palette(black);

    &:hover {
      color: palette(white);
    }

    @include mq($from: break-medium) {
      color: palette(white);
      background: palette(black);
    }
  }

  &.navigation--fixed-top {
    background-color: rgba(palette(white), .95);
    transition: background ease 0.3s;
  }
}

.navigation__menu {

  @include mq($until: break-medium) {
    background: rgba(palette(white),.95);
    max-height: 0;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity ease 0.35s;

    .is-open & {
      opacity: 1;
      max-height: ritmo(134);
    }
  }

  @include mq($from: break-medium) {
    padding-right: 15px;
    float: right;
    margin-top: ritmo(5);
  }
}

.navigation__mobile-menu__icon {
  display: block;
  position: absolute;
  top: ritmo(5);
  right: 10px;
  width: 30px;
  height: ritmo()/2;
  background-color: palette(black);
  transition: rotate ease 1s;

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: ritmo()/2;
    background-color: palette(black);
  }

  &:before {
    top: - ritmo(1.4);
  }

  &:after {
    bottom: - ritmo(1.4);
  }

  .is-open & {
    transform: rotate(180deg);
    background: none;

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.navigation__mobile-menu__toggle {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: ritmo(10);
  cursor: pointer;
  margin-left: 55px;

  @include mq($from: break-medium) {
    display: none;
  }
}

.navigation__menu-item {
  display: block;
  background-color: palette(white);
  width: auto;

  @include mq($from: break-medium) {
    display: inline-block;
    margin: 0 0.15em;
    text-transform: uppercase;
    background-color: transparent;
  }
}

.navigation-logo {
  position: absolute;
  width: 50px;
  height: 29px;
  top: ritmo(3);
  left: 10px;

  @include mq($from: break-medium) {
    width: 250px;
    height: 90px;
    top: ritmo(6);
    left: 50%;
    transform: translateX(-50%);

    &:after {
      content: "";
      display: block;
      height: 1px;
      background: palette(grey);
      width: 135px;
      margin: ritmo(23) auto 0 auto;
    }
  }

  a.navigation-logo__svg {
    padding: 0;
    background-color: transparent;

    &:hover {
        background: transparent;
    }
  }
}

.navigation-logo__svg-main,
.navigation-logo__svg-minified {
  width: 100%;
  height: 100%;
  fill: palette(black);
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 10px;

  @include mq($from: break-medium) {
    left: 0;
  }
}

.navigation-logo__svg-main {
  display: none;

  @include mq($from: break-medium) {
    display: block;
    width: 85%;
    margin: 0 7.5%;
  }

  @include mq($from: break-large) {
    width: 100%;
    margin: 0 auto;
  }
}

.navigation-logo__svg-minified {
  display: block;

  @include mq($from: break-medium) {
    display: none;
  }
}
