.page-404-section {
  @extend .intro-section;
}

.page-404-section__content {
  @include container(860px);

  h1,
  h4 {
    font-weight: 300;
  }
}

.page-404-section__content__button ,
.page-404-section__content__image {
  width: 100%;
  margin-top: ritmo(4);
}

.page-404-section__content__button-link {
  display: inline-block;
  color: palette(white);
  background: palette(black);
  border-radius: 100px;
  border: 1px solid palette(black);
  padding: ritmo(3) 20px;
  @include ritmo-font-size(14px);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: palette(grey, mid-dark);
    border: 1px solid palette(grey, mid-dark);
    color: palette(white);
  }
}
