.participate-section {
  @extend .intro-section;
}

.participate-section__content {
  @include container(860px);
}

.participate-content__title {
  @extend .intro-section__title;
  @include ritmo-font-size(18px);
  @include container(860px);
  margin-bottom: ritmo(3);

  @include mq(break-medium-small) {
    @include ritmo-font-size(22px);
  }
}

.participate-content__img {
  display: block;
  margin: ritmo(4) auto;
}

.participate-section__form__field {
  width: 100%;
  display: block;
  margin: ritmo(6) auto;

  &:first-of-type {
    border-top: 1px solid rgba(palette(grey), 0.5);
    padding-top: ritmo(5);
  }

  @include mq($from: break-medium) {
    width: 75%;
  }

  label {
    display: block;
    margin-bottom: ritmo();
    color: palette(grey, mid-dark);
    text-align: center;
    width: 100%;

    @include mq($from: break-medium) {
      text-align: left;
      margin: 0 auto ritmo() auto;
    }
  }

  input,
  textarea {
    padding: ritmo() 10px;
    width: 100%;
  }

  textarea {
    width: 100%;
    min-height: ritmo(25);
  }
}


.participate-section__form__submit {
  width: 100%;
  display: block;
  margin: ritmo(6) auto;
  text-align: center;

  input {
    display: inline-block;
    color: palette(white);
    background: palette(black);
    border-radius: 100px;
    border: 1px solid palette(black);
    padding: ritmo(3) 20px;
    @include ritmo-font-size(14px);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background: palette(grey, mid-dark);
      border: 1px solid palette(grey, mid-dark);
      color: palette(white);
    }
  }
}
