.profile-alt {
  background: palette(white);
  padding: ritmo(14) 10px;

  @include mq($from: break-medium) {
    padding-top: ritmo(35);
  }
}

.profile-alt__content {
  margin: 0 auto;
  @include container(1000px);
}

.profile-alt__content-header {
  width: 100%;
  padding: 0 6.5%;
  position: relative;
  overflow: hidden;
}

.profile-alt__content-image__container,
.profile-alt__content-resume__container {
  width: 100%;

  @include mq($from: break-medium-large) {
    @include span(3);
  }
}

.profile-alt__content-image {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  background: palette(grey);
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
}

.profile-alt__content-resume__container {
  margin-top: ritmo(8);

  @include mq($from: break-medium-small) {
    margin-top: ritmo(10);
  }

  @include mq($from: break-medium-large) {
    margin: 0;
  }
}

.profile-alt__content-resume__name {
  text-align: center;
  padding: 0 8.5%;
  position: absolute;
  width: 100%;
  z-index: 5;

  @include mq($from: break-medium-large) {
    text-align: left;
    padding: 0;
    position: relative;
    width: 100%;
    margin: 0;
  }

  h2 {
    display: block;
    font-weight: 300;
    @include ritmo-font-size(22px);
    background: palette(white);
    padding-top: ritmo(4);
    padding-bottom: ritmo(5);
    transform: translateY(-110%);

    @include mq($from: break-medium-small) {
      @include ritmo-font-size(40px);
      padding-top: ritmo(5);
    }

    @include mq($from: break-medium-large) {
      transform: none;
      padding: 0;
      line-height: 18px;
      margin-bottom: ritmo(4);
      @include ritmo-font-size(35px);
    }
  }
}

.profile-alt__content-resume {
  width: 100%;
  position: relative;
}

.profile-alt__content-resume__title {
  font-weight: 300;
  @include ritmo-font-size(16px);
  text-transform: uppercase;
}

.profile-alt__content-resume__item {
  width: 100%;
  padding: ritmo(2) 0;

  span {
    color: palette(grey, mid-dark);
  }
}

.profile-alt__content-resume__item-time,
.profile-alt__content-resume__item-role,
.profile-alt__content-resume__item-origin {
  width:20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 10px;
}

.profile-alt__content-resume__item-social {
  margin-top: ritmo(2);
}

.profile-alt__content-resume__item-social__icon {
  width:30px;
  height: 30px;
  margin-right: 15px;
}

.profile-alt__content-interview {
  margin: ritmo(6) auto;
  padding: 0 7.5%;
  clear: both;
}

.profile-alt__content-interview__title {
  @include ritmo-font-size(16px);
  text-transform: uppercase;
  font-weight: 300;
}

.profile-alt__content-interview {

  h6 {
    @include ritmo-font-size(16px);
  }

  ul li {
    list-style-type: disc;
  }

  a {
    text-decoration: underline;
    color: palette(black);
  }
}

.profile-alt__content-tags {
  padding: 0 7.5%;

  &:before {
    content: "";
    display: block;
    height: 1px;
    background: palette(grey);
    margin-bottom: ritmo(4);
  }
}

.profile-alt__content-tags__links {
  @extend .tags;
}
